*{
    margin: 0;
}
.main{
    color: white;
    
}
body::-webkit-scrollbar{
    display: none;
}
.cover{
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    filter: blur(2px);
    
}
.sec-1{
    padding-top: 50px;
    height: 400px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    column-gap: 30px;
}
.heads{
  width: 500px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
  border-radius: 20px;
  padding: 10px ;
  box-shadow: inset 10px 10px 100px rgb(200, 199, 199);
}
.secs-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 50px;
}
.secs-2 span{
    align-self: flex-end; 
    position: absolute;
    font-size: 45px;
    color: black;
    padding-top: 5px;
    padding-right: 4px;
    justify-self: center;
    cursor: pointer;
    transition: all 0.5s linear;
    
}
.secs-2 input{
    height: 50px;
    width: 600px;
    justify-self: center;
    border-radius: 14px;
}
.result-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.name{
    padding-top: 10px;
 border-radius: 20px;
}
.upper{
    align-self: center;
    height:300px;
    width: fit-content;
    justify-self: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 10px 10px 100px rgb(200, 199, 199);
    border-radius: 20px;
}
.dflex{
    display: flex;
    align-items: center;
    justify-content: space-around ;
    column-gap: 30px;
}
.dflex1{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
}
@media screen and (max-width: 776px){
    .dflex1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .upper{
        height: max-content;
        width: 74%;
    }
    .secs-2 input{
        width: 400px;
    }
    .heads{
       flex-direction: column;
       width: 300px;
    }
    .sec-1{
        height: 500px;
    }
    
}
@media screen and (max-width: 380px){
    .secs-2 input{
        width: 300px;
    }
}